body{
    background-color: #101820FF;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#input-search{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba,#5b548a);
    margin: 50px 20px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    float: left;
    height: 155px;
}
#url{
    border: none;
    outline: none;
    padding: 10px 25px;
    height: 40px;
    border: 1px solid black;
    flex: 1;
    margin-right: 15px;
    font-size: 20px;
    border-radius: 20px;
}
.btn{
    margin-top: 30px;
    cursor: pointer;
    height: 40px;
    width: 280px;
    margin-right: 15px;
    border-radius: 20px;
}
#imgbox{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #5b548a,#00feba);
    margin: 50px 20px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    float: left;
    display: none;
}
.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}